@model alenen.Konular

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/AreaAdmin/Views/Shared/AdminLayout.cshtml";
}

<h2>Yeni Konu Ekle</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.yorum, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.yorum, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.yorum, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.konuad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.konuad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.konuad, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.kategoriid, "Kategori", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("kategoriid", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.kategoriid, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.resim, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.resim, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.resim, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.olustarih, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.olustarih, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.olustarih, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.olusturanid, "Oluşturan Kullanıcı", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownList("olusturanid", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.olusturanid, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ekle" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Listeye Dön", "Index")
</div>
