@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Konular>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AreaAdmin/Views/Shared/AdminLayout.cshtml";
}

<h2>Konular</h2>

<p>
    <div class="AdminSearch">
        @using (Html.BeginForm("Index", "Konuİslemleri", FormMethod.Get))
        {
            <div style="padding-top:10px;">

                @Html.TextBox("searching", null, new { id = "searching", @class = "inp_text inp_search", placeholder = "Konu adı ile arayınız...", name = "q", type = "text" })

                <button value="ARA" type="submit"><i class="la la-search"></i>Ara</button>
            </div>
        }

    </div>
    <br />
    @Html.ActionLink("Yeni Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Konu Adı
        </th>
        <th>
            İçerik Yorumu
        </th>
        <th>
            Resim
        </th>
        <th>
            Oluşturulma Tarihi
        </th>
        <th>
            Kategori
        </th>
        <th>
            Kullanıcı
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.konuad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yorum)
            </td>

            <td>
               <img src="~/Content/images/@item.resim" style="height:50px; width:50px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.olustarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.kategoriad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.kadi)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.konuid }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.konuid }) |

                @{
                    var user = Session["LoginAdminUser"] as alenen.User;
                }
                @if (user.adminmi == true)
                {
                    @Html.ActionLink("Sil", "Delete", new { id = item.konuid })

                }
                else
                {
                    /**/
                }

            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { Page = page }))
