@model alenen.User

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<div class="space"></div>
<div class="space"></div>
<div class="row">

    <div class="uye-giris col-md-10">
        <div class="post-project ">

            <div class="post-project-fields post-project-fields2 ">

                <div class="row">
                    @using (Html.BeginForm("Registration", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <p class="col-md-12"><h4>Kayıt Ol</h4></p>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <p class="col-md-2">Kullanıcı Adı:</p>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.kadi, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.kadi, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="col-md-2">
                                    Mail:
                                </p>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="col-md-2">Şifre</p>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="validationTooltipUsernamePrepend">  <i id="pass-status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword()"></i></span>
                                        </div>

                                        @Html.EditorFor(model => model.sifre, new { htmlAttributes = new { @class = "form-control", required = "required", id = "password-field", type = "password", name = "password" } })
                                        @Html.ValidationMessageFor(model => model.sifre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <p class="col-md-2">
                                        İsim:
                                    </p>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.isim, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.isim, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="col-md-2">
                                        Soyisim:
                                    </p>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.soyisim, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.soyisim, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="col-md-2">
                                    Telefon:
                                </p>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.telefon, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.telefon, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                @Html.LabelFor(model => model.cinsiyetid, "Cinsiyet", htmlAttributes: new { @class = "control-label col-md-2" })

                                <div class="col-md-12">
                                    @Html.DropDownList("cinsiyetid", null, htmlAttributes: new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(model => model.cinsiyetid, "", new { @class = "error" })
                                </div>
                            </div>

                            <div class="form-group">
                                <p class="col-md-6">
                                    Sözleşmeleri okudum ve anladım.
                                </p>
                                <div class="col-md-12">
                                    <div>

                                        <p>Kişisel verileriniz, <a href="/aydinlatmametni">Aydınlatma Metni</a> kapsamında işlenmektedir. Kayıt Ol butonuna basarak <a href="/uyeliksozlesme">Üyelik Sözleşmesi’ni</a>, <a href="/rizametni">Rıza Metni’ni</a>, <a href="/cerezpolitikasi">Gizlilik ve Çerez Politikası’nı</a> okuduğunuzu ve kabul ettiğinizi onaylıyorsunuz.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">

                                    <script>
            window.onload = function () {
                document.getElementById("button1").disabled = true;
            };
            function enableBtn() {
                document.getElementById("button1").classList.add('btn-success');
                document.getElementById("button1").disabled = false;

            }
                                    </script>
                                    <div class="g-recaptcha sag" data-sitekey="6Lckq9kUAAAAAJyabU_QZ2jiBqSwai4ftF6sqqVK" data-callback="enableBtn"></div>
                                    <br />
                                    <button id="button1" class="btn btn-default col-sm-12 " type="submit" value="submit">Kayıt Ol</button>

                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
            

        </div><!--post-project-fields end-->

    </div><!--post-project end-->
    <div class="col-md-2">

        <div class=" input-icones">
            @using (Html.BeginForm("FacebookLogin", "Home", FormMethod.Post))
            {
                <i class="fa fa-facebook-f icone"></i> <input type="submit" style="padding-left:25px;" value="Facebook ile Kayıt" class="btn btn-primary col-sm-12 " />

            }
        </div>
        <div style="visibility:hidden; display:none;">

            @Html.Action("FacebookRegister", "Home")
        </div>
        <button style="margin-top:25px;" class="btn btn-success col-sm-12 " onclick="location.href='@Url.Action("Login", "Home")'"><i class="fa fa-lock" style="color:white;"></i> Giriş Yap</button>

    </div>
</div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
@if (@ViewBag.Message != null)
{
    <script type="text/javascript">
            $(function () {
                swal("@ViewBag.Message")
            });
    </script>
}



<script>
function viewPassword()
{
  var passwordInput = document.getElementById('password-field');
  var passStatus = document.getElementById('pass-status');

  if (passwordInput.type == 'password'){
    passwordInput.type='text';
    passStatus.className='fa fa-eye-slash';

  }
  else{
    passwordInput.type='password';
    passStatus.className='fa fa-eye';
  }
}
</script>

