@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AreaAdmin/Views/Shared/AdminLayout.cshtml";
}

<h2>Kategori İşlemleri</h2>

<p>


    <div class="AdminSearch">
        @using (Html.BeginForm("Index", "Kategoriİslemleri", FormMethod.Get))
        {
            <div style="padding-top:10px;">

                @Html.TextBox("searching", null, new { id = "searching", @class = "inp_text inp_search", placeholder = "Kategori adı ile arayınız. ...", name = "q", type = "text" })

                <button value="ARA" type="submit"><i class="la la-search"></i>Ara</button>
            </div>
        }

    </div>


    <br />
    @Html.ActionLink("Yeni Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Kategori Adı
        </th>
        <th>
            Açıklama
        </th>
        <th>
            Oluşum Tarihi
        </th>
        <th>
            Oluşturan Kullanıcı
        </th>
        <th>
            Resim
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kategoriad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.olustarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.olusturanid)
            </td>
            <td>
                <img src="~/Content/images/@item.resim" style="max-height:60px; max-width:60px;" />
            </td>
            <td>

                @Html.ActionLink("Düzenle", "Edit", new { id = item.kategoriid })|
                @Html.ActionLink("Detaylar", "Details", new { id = item.kategoriid })
            
         
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { Page = page }))
